<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>Chap</display-name>
	
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<context-param>
		<description>로깅 여부</description>
		<param-name>logEnabled</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<description>디버깅 레벨</description>
		<param-name>debugLevel</param-name>
		<param-value>5</param-value>
	</context-param>

	<error-page>
		<error-code>404</error-code>
		<location>/error/error404.jsp</location>
	</error-page>

	<error-page>
		<error-code>500</error-code>
		<location>/error/error500.jsp</location>
	</error-page>

	<error-page>
		<exception-type>java.lang.NullPointerException</exception-type>
		<location>/error/errorNullPointer.jsp</location>
	</error-page>

	<jsp-config>
		<jsp-property-group> <!-- jsp의 프로퍼티 포함 -->
			<url-pattern>/chap07/view/*</url-pattern> <!-- 프로퍼티에 적용할 jsp파일의 URL패턴 저장 -->
			<include-prelude>/chap07/common/variable.jspf</include-prelude><!-- url-pattern 
				태그에 지정한 패턴에 해당하는 jsp 파일 앞에 삽입할 파일 지정 -->
			<include-coda>/chap07/common/footer.jspf</include-coda> <!-- 뒤에 삽입할 파일 지정 -->
		</jsp-property-group>

		<!-- jsp-property-group 두개 이상 사용 가능 -->

	</jsp-config>
	
	


</web-app>