/*적용 안되면 강력 새로고침 ㄱㄱ*/

/*배경*/
body {
	background-image: url('/CSS/background/mainBackground.jpg');
	background-repeat: repeat;/*배경 이미지의 반복 방법 지정*/
}

/*container*/
#container {
	width: 1500px;
	height: 900px;
	margin: 0 auto;
	border: 1px solid black;
	background: white;
}

/*section*/
.box {
	background: blue;
	text-align: center;
	margin: 0 auto;
	/*그라데이션
	*/
	background: -webkit-linear-gradient(left top, blue, white);
	background: -moz-linear-gradient(right bottom, blue, white);
	background: -o-linear-gradient(right bottom, blue, white);
	background: linear-gradient(to right bottom, blue, white);
}
#menu {
	margin: 0 auto;
}

#menu li {
	display: inline-block;
	/*이해 잘 안되니 계속 해보기*/
	width: 200px;
	height: 50px;
	line-height: 50px;
	text-align: center;
}

#menu li a {
	color: white;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	/*선으로 텍스트를 꾸미게 하는 속성*/
}


/*메인*/
.main {
	height: 650px;
}


/*header*/
header {
	height: 100px;
	width: 1500px;
	text-align: center;
	background-color: black;
	color: white;
	font-size: 60px;
	font-weight: bold;
	line-height: 100px;
	/*line-height 공부하기*/
	margin: 0 auto;
}

/*footer*/
footer {
	height: 100px;
	width: 1500px;
	text-align: center;
	background-color: antiquewhite;
	color: aqua;
	font-size: 60px;
	font-weight: bold;
	line-height: 100px;
	/*line-height 공부하기*/
	margin: 0 auto;
}